{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1 class="mt-5">Imagenarium</h1>
    <h2>Its Me!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
    <p><a href="{% url 'images' %}" class="home-page-button btn btn-danger">Show Me!</a></p>
{% endblock content %}
